html {
    scroll-behavior: smooth;
}

article img.rounded-profile {
    border-radius: 50%;
    -ms-transform: scale(1); /* IE 9 */
    -webkit-transform: scale(1); /* Safari 3-8 */
    transform: scale(1);

    -ms-transition: all 0.18s ease-in-out;
    -o-transition: all 0.18s ease-in-out;
    -moz-transition: all 0.18s ease-in-out;
    -webkit-transition: all 0.18s ease-in-out;
}

article:hover img.rounded-profile {
    border-radius: 40%;
    -ms-transform: scale(1.04); /* IE 9 */
    -webkit-transform: scale(1.04); /* Safari 3-8 */
    transform: scale(1.04);
}

.leap-logo-main {
    width: 30%;
    margin-top: -20px;
}

.leap-logo-sidebar {
    width: 20%;
}
